.search-node-info {
    padding: 1ex;
}

.search-node-info:hover {
    margin-left: 1ex;
    border-radius: 1em;
    background-color: var(--widget-background-color);
}

.search-node-info:active {
    color: white;
}
