#export-dropdown {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#export-icon {
    max-height: 48px;
}

#export-dropdown button:hover {
    box-shadow: inset 0 0.125em 0.25em #000;
}

#export-dropdown .dropdown-toggle {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

#export-dropdown .dropdown-menu.show {
    background-color: var(--header);
}

#export-dropdown .dropdown-item {
    color: var(--menu-text);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#export-dropdown .dropdown-item:hover {
    background-color: var(--intermediate2);

    border-radius: 1em;
}

#export-dropdown .dropdown-item:active {
    color: white;
}

@media (max-width: 800px) {
    #export-dropdown img {
        height: 32px;
        width: 32px;
    }
}