#export-dropdown {
    grid-column: 2;
    grid-row: 3;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#export-icon {
    max-height: 48px;
}

#export-dropdown .dropdown-toggle {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

#export-dropdown .dropdown-menu.show {
    background-color: var(--header);
}

#export-dropdown .dropdown-item {
    color: var(--menu-text);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#export-dropdown .dropdown-item:hover {
    background-color: var(--intermediate2);

    border-radius: 1em;
}

#export-dropdown .dropdown-item:active {
    color: white;
}
