.types-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.types-container .gutter {
    box-shadow: inset 0 0.125em 0.25em #000;
    background-color: var(--secondary);
}

.input-data-type {
}

.input-data-type .text-area-zone-internal {
    padding: 2ex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-data-type .text-area-zone-internal #text-area {
    min-height: 24ex;
    height: 72ex;
}

.input-data-type .text-area-zone-internal #file-preview {
    min-height: 24ex;
    height: 64ex;
}

.text-area-zone-internal .btn-group {
    margin-bottom: 2ex;
}