#header {
    min-height: 10ex;
    height: 10%;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(50, auto);
    grid-template-rows: repeat(5, auto);

    background-color: var(--header);
}
