*, *:before, *:after {
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  --primary: #393646;
  --intermediate1: #4F4557;
  --intermediate2: #6D5D6E;
  --secondary: #F4EEE0;
  --header: #393646;
  --menu-text: #F4EEE0;
  --menu-text-hover: #F5F5F5;
  --panel-background-color: #444;
  --widget-background-color: #32342d;
  --widget-text-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.margin-10px > * {
  margin: 10px;
}

.flex-vertical-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
